<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e138e3db-51c6-4fdb-83e0-a25f982082c7/resourcegroups/tweetappaccountResourceGroup/providers/Microsoft.Web/sites/TweetAppAzure</ResourceId>
    <ResourceGroup>tweetappaccountResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e138e3db-51c6-4fdb-83e0-a25f982082c7/resourceGroups/tweetappaccountResourceGroup/providers/Microsoft.ApiManagement/service/TweetAppAzureapi/apis/TweetAppAzureAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tweetappazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>84d4ff71-a640-4bf7-9edc-a896c0d63f19</ProjectGuid>
    <MSDeployServiceURL>tweetappazure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TweetAppAzure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TweetAppAzure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>